@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/mixins";

.Hero {
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    padding: 0rem 3rem;

    .header {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        max-width: 130rem;
        margin-inline: auto;
        font-size: 1.8rem;
        bottom: 1rem;
        z-index: 20;

        img {
            cursor: pointer;
            width: 10rem;
            height: 10rem;
        }

        .sign-in {
            padding: 1rem 2rem;
            background-color: $white;
            border-radius: 5rem;
            font-weight: 600;
            border: 2px solid rgba(255, 255, 255, 0);

            &:hover {
                background-color: lighten($main-blue, 40);
                background-color: $main-blue;
                color: white;
                cursor: pointer;
                border: 2px solid $white;
            }

            @include lg {
                background-color: $main-blue;
                color: white;
                border: none;

                &:hover {
                    border: none;
                    background-color: darken($main-blue, 10);
                }
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        top: 5rem;

        @include lg {
            flex-direction: column;
        }

        .left {
            gap: 3rem;
            transition: none;
            width: 50%;

            @include lg {
                width: 100%;
                text-align: center;
                justify-content: center;
                align-items: center;
                gap: 4rem;
            }

            .head {
                font-size: 5rem;
                font-weight: 700;
                font-family: $head-font;
                transition: none;

                @include lg {
                    font-size: 6rem;
                    font-weight: 900;
                }
            }
            .title {
                font-size: 2.4rem;
                transition: none;

                @include lg {
                    font-size: 3rem;
                    font-weight: 500;
                    width: 80%;
                }
            }
            button {
                width: fit-content;
                font-size: 1.6rem;

                &:hover {
                    cursor: pointer;
                    background-color: darken($main-blue, 10);
                }

                @include lg {
                    padding: 1.5rem 3rem;
                    font-size: 2rem;
                }
            }
        }

        .right {
            transition: none;
            width: 50%;

            @include lg {
                display: none;
            }

            .img {
                .car-img {
                    max-width: 75rem;
                    height: 44rem;
                }
                .back-img {
                    position: absolute;
                    left: 5rem;
                    top: -27rem;
                    z-index: -5;
                    max-width: 110rem;
                    height: 100vh;
                }
            }
        }
    }
}
