* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
    position: relative;
}

html {
    font-size: 62.5%;
}

body {

}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}