@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arsenal:wght@400;700&family=Croissant+One&family=Inclusive+Sans&family=Inconsolata:wght@200;500;700;800;900&family=Josefin+Sans:wght@300;400;500;600;700&family=Marcellus&family=Mooli&family=Open+Sans:wght@300&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@300;500;600;700&display=swap");
@import "../styles/breakpoints";
@import "../styles/variables";
@import "../styles/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        background-color: darken($main-blue, 50);
    }
    
    &::-webkit-scrollbar {
        width: 0.8rem;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: $main-blue;
    }
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.container {
    max-width: 130rem;
    margin-inline: auto;
}
