@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.primary {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    background-color: $main-blue;
    border-radius: 3rem;
    color: $white;
    border: none;
    outline: none;
    font-family: $basic-font;
}